<!-- Display a card to click into for every component-->
<!--TODO: make resposive-->
<!-- <div [ngClass]="{'lock-bg': showNewTemplate(), 'd-none': !showNewTemplate()}"></div> -->
<div class="container ">

  <div class="row">
    <div class="d-flex justify-content-end">
      <a
        routerLink="./upsert"
        type="button"
        class="btn btn-success"
      >
        New Template
    </a>
    </div>
  </div>
  <!-- Display the template upsert OR the templates -->
  <router-outlet/>
</div>

