<!-- Display a card to click into for every component-->
<!--TODO: make resposive-->
<div [ngClass]="{'lock-bg': showNewTemplate(), 'd-none': !showNewTemplate()}"></div>
<div class="container ">

  <div class="row">
    <div class="d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-success"
        (click)="onShowTemplateCreation()"
      >
        New Template
      </button>
    </div>
  </div>
  <div class="row">
    @for(formTemplate of userFormTemplateList; track formTemplate.id){
    <div class="col-3 my-2">
      <div class="card">
        <div
          class="card-header"
          [style.backgroundColor]="'#' + formTemplate.colorHexValue"
        >
          {{ formTemplate.name + "Form" }}
        </div>
        <div class="card-body">
          {{ formTemplate.description ?? "No Description" }}
        </div>
      </div>
    </div>
    }
  </div>
  @if(showNewTemplate()){
    <div class="d-flex justify-content-center align-items-center">
      <div class="card custom-modal d-flex w-50 h-50">
        <div class="card-header">
            <h1 class="text-center">New Template</h1>
            <button type="button" class="position-absolute top-0 end-0 mx-1" (click)="cancelNewTemplate()" title="close modal">
              <i class="bi bi-x-circle"></i>
            </button>
        </div>
        <div class="card-body">
          <form (ngSubmit)="handleNewTemplate()">
            <!--TODO: add form grouping (bootstrap docs)-->
            <div class="row">
              <div class="col-6">
                <label for="template-name">Template Name:</label>
                <input type="text" name="template-name" placeholder="Enter Name" />
              </div>
              <div class="col-6">
                <label for="template-description">Template Description:</label>
                <input
                  type="text"
                  name="template-description"
                  placeholder="Enter description"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  }
</div>

